body {
    background-color: powderblue;
}

.button {
    padding: 10px;
    background-color: rgb(25, 197, 111);
    font-size: 18px;
    position: fixed;
}

.stylebutton2 {
    margin-top: 50px;
}

.stylebutton {
    margin-top: 33px;
}

.container-wrapp {
    display: flex;
    width: 100%;
}

.names {
    width: 13%;
    position: fixed;
}

.namesfruits {
    width: 10%;
    position: fixed;
}
.content {
    width: 85%;
    margin-left: 12%;  
}

.content2 {
    width: 88%;
    margin-left: 10%;
}

ul {
    list-style-type: none;
    font-size: 20px;
    color: blue;
    padding: 0;
}

.pagename{
    color: seagreen;
    text-align: center;
    padding: 15px;
    margin-top: 0;
}

li {
    padding: 10px 5px 10px 5px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rebeccapurple;
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 18px;
}

.first, .second {
    border: solid;
    padding: 15px;
}
.first {
    background-color: palegreen;
    border-radius: 25px;
}

.second {
    background-color: plum;
    margin: 10px 15px 10px 15px;
    border-radius: 80px;
}
