.container {
    background-image: url("fvmix.PNG");
    text-align: center;
}

.container-wrapp {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.styleh1 {
    background-color: orchid;
}

.styleh2 {
    background-color: rgb(219, 21, 47);
}

.styleh1, .styleh2 {
    width: fit-content;
    margin: 0 auto;
    border-radius: 60px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vegetables, .fruits {
    margin: 0 auto;
    width: 25%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
    border-radius: 70px;
}

.vegetables {
    background-color: rgb(247, 146, 14);
}

.fruits {
    background-color: rgb(3, 240, 3);
}

